@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond:ital@0;1&family=Playfair+Display&display=swap');

body, html, #main {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body * {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: normal !important;
    page-break-after: avoid !important;
    font-family: 'Playfair Display', serif;
}

#title-container {
    width: 90%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px black;
}

#title {
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 34px 0 41px 0;
    width: 87%;
    font-size: 5em;
    text-align: center;
    font-family: 'Playfair Display';
    border: dashed 2px black;
}

#ella {
    color: #ffffff;
    font-family: dancing script;
    background: #a3f2dd;
    padding: 5px 21px;
    margin-left: 11px;
    box-shadow: -4px 6px black;
}

span#will {
    font-family: dancing script;
}

body h2 {
    font-size: 4em;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

body:after,
body:before {
    display: table;
    content: "";
}

body:after {
    clear: both;
}


element.style {
}
body * {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#letter {
    width: 90%;
    text-align: justify;
    font-size: 2.3em;
    hyphens: auto;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #1753af;
}

#lockscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#locknum {
    width: 72%;
    font-size: 10em;
    text-align: center;
    margin-top: 1em;
}
div#hint {
    font-size: 4em;
}

input#guess {
    font-size: 4em;
    font-family: 'EB Garamond';
    width: 72%;
    border: solid 2px black;
    margin-top: 1em;
    padding: 12px 30px;
}
